<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">
    <context:component-scan base-package="main" />
    <context:annotation-config/>
    <jms:annotation-driven/>
   <!-- <bean id="Subscriber" class="main.java.com.subscriber.Subscriber" />-->
    <bean id="jndiTemplate" class="org.springframework.jndi.JndiTemplate">
        <property name="environment">
            <props>
                <prop key="java.naming.factory.initial">org.jboss.naming.remote.client.InitialContextFactory</prop>
                <prop key="java.naming.provider.url">http-remoting://localhost:8080</prop>
                <prop key="java.naming.security.principal">guestUser</prop>
                <prop key="java.naming.security.credentials">password</prop>
            </props>
        </property>
    </bean>
    <bean id="destination" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate" ref="jndiTemplate"></property>
        <property name="jndiName" value="jms/queue/testTopic"></property>
    </bean>
    <bean id="connectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiTemplate" ref="jndiTemplate"></property>
        <property name="jndiName" value="jms/RemoteConnectionFactory"></property>
    </bean>
    <bean id="destConnectionFactory" class="org.springframework.jms.connection.UserCredentialsConnectionFactoryAdapter">
        <property name="targetConnectionFactory" ref="connectionFactory"></property>
        <property name="username" value="guestUser"></property>
        <property name="password" value="password"></property>
    </bean>
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="destConnectionFactory"></property>
    </bean>
    <bean id="jmsListenerContainerFactory" class="org.springframework.jms.config.DefaultJmsListenerContainerFactory">
        <property name="connectionFactory" ref="destConnectionFactory"/>
        <property name="pubSubDomain" value="true"/>
        <property name="concurrency" value="1-10"/>
    </bean>
   <!-- <bean id="listenerContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
        <property name="connectionFactory" ref="destConnectionFactory" />
        <property name="destination" ref="destination" />
        <property name="messageListener" ref="Subscriber" />
       &lt;!&ndash; <property name="subscriptionDurable" value="true"/>
        <property name="durableSubscriptionName" value="temporaryTopic"/>&ndash;&gt;
    </bean>-->

</beans>